* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #FFF5E2;
  font-family: 'Roboto', sans-serif;
}

.big-container {
  width: 50%;
  background-color: white;
}

/* intestazione */
header {
  background-color: #FDBB40;
  padding: 60px 40px 30px 40px;
  position: relative;
}

header img {
  position: absolute;
  height: 200px;
  top: -12px;
  left: 608px;
}
/* /intestazione */

/* corpo principale */
/* inserimento nome burger */
.burger-name {
  padding: 60px 40px 30px 40px;
}

#burger-name-input {
  width: 80%;
  border: hidden;
  font-size: 28px;
}

#burger-name-input::placeholder {
  color: #000;
}
/* /inserimento nome burger */

/* lista ingredienti */
.ingredients {
  width: 89%;
  margin: auto;
}

.ingredients h2 {
  font-size: 26px;
  font-weight: 400;
  margin-bottom: 30px;
}

.ingredients-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.ingredients-list li {
  width: 50%;
  padding: 10px 0 10px 0;
}

.ingredients-list li label {
  display: flex;
  align-items: center;
}

.ingredients-list li img {
  height: 50px;
}

.ingredient {
  padding: 0 20px 0 20px;
  font-weight: 500;
}

.add {
  padding-left: 15px;
  color: #D33359;
}
/* /lista ingredienti */

/* coupon sconto */
.discount {
  width: 89%;
  margin: auto;
  padding: 40px 0 20px 0;
}

.discount input {
  margin-left: 20px;
  background-color: #FFF5E2;
  border: #FFF5E2;
  line-height: 30px;
  width: 400px;
  border-radius: 7px;
  padding-left: 8px;
}
/* /coupon sconto */

/* bottone */
.button {
  width: 89%;
  display: flex;
  justify-content: center;
}

#calculate {
  background-color: #FDC55C;
  border: #FDC55C;
  font-size: 26px;
  font-weight: 600;
  height: 70px;
  width: 160px;
  border-radius: 7px;
  margin-top: 20px;
  margin-bottom: 50px;
}
/* /bottone */
/* /corpo principale */

/* pie di pagina */
footer {
  background-color: #D33359;
  color: #fff;
  font-size: 30px;
  font-weight: bold;
}

.price {
  width: 89%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 40px 0 40px 0;
}
